<div class="container">
    <h2>edit {{celebrityEdit.name}}</h2>
    <form action="/celebrities/{{celebrityEdit.id}}/edit" method="POST">
    <div class="row">
        <div class="col-md-3">

            <label>Name</label>
            <input type="text" name="name" placeholder="Celebrity Name" value="{{celebrityEdit.name}}" />
        </div>
        <div class="col-md-3">
            <label> Occupation</label>
            <input type="text" name="occupation" placeholder="Occupation" value="{{celebrityEdit.occupation}}" />
        </div>
        <div class="col-md-3">
            <label>Catch Phrase</label>
            <input type="text" name="catchPhrase" placeholder="Catch phrase" value="{{celebrityEdit.catchPhrase}}" />
        </div>
        <div class="col-md-3">
             <label>Movies</label>
  <select name="movie">
  <option value="">Choose Author</option>
 {{#each allAuthors}}
 {{#eq name ../celebrity.movie.title}}
 <option value={{id}} selected>{{title}}</option>
 {{else}}
  <option value={{id}}>{{title}}</option>
  {{/eq}}
 {{/each}}
</select>
        </div>
        <button type="submit">save edit</button>
    </div>
    </form>